<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6a9486">  <td>20/07/28 00:16:04</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ForTesting.chrome()[pri:0, instance:com.academyadmin.testscript.ForTesting@bd8db5a]">chrome</td> 
  <td>main@490150701</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>20/07/28 00:16:04</td>   <td>11</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ForTesting.firefox()[pri:0, instance:com.academyadmin.testscript.ForTesting@bd8db5a]">firefox</td> 
  <td>main@490150701</td>   <td></td> </tr>
</table>
