<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9b7070">  <td>20/07/28 11:52:14</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;ForTesting.precodition(java.lang.String)[pri:0, instance:com.academyadmin.testscript.ForTesting@80503]">&gt;&gt;precodition</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1630521067</td>   <td></td> </tr>
<tr bgcolor="9b7070">  <td>20/07/28 11:52:28</td>   <td>13325</td> <td>&nbsp;</td><td title="&gt;&gt;ForTesting.precodition(java.lang.String)[pri:0, instance:com.academyadmin.testscript.ForTesting@687080dc]">&gt;&gt;precodition</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1630521067</td>   <td></td> </tr>
<tr bgcolor="9b7070">  <td>20/07/28 11:52:24</td>   <td>9784</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ForTesting.tester2()[pri:0, instance:com.academyadmin.testscript.ForTesting@80503]">tester2</td> 
  <td>TestNG-test=Test-1@1537289516</td>   <td></td> </tr>
<tr bgcolor="9b7070">  <td>20/07/28 11:52:39</td>   <td>24868</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ForTesting.tester2()[pri:0, instance:com.academyadmin.testscript.ForTesting@687080dc]">tester2</td> 
  <td>TestNG-test=Test1-1@395790503</td>   <td></td> </tr>
</table>
